<mat-toolbar class="navbar">
  <div *ngIf="isGameDetailPage" >
    <button mat-icon-button (click)="goBack()">
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
  </div>
  <div class="nav-links">
    <a button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
    <a button routerLink="/lista" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">LISTA</a>
  </div>
  <div class="search-container">
    <div class="search-input">
      <input matInput type="text" placeholder="Buscar" [(ngModel)]="searchGame">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>





