<div class="list-container">
  <div class="button-row">
    <a mat-fab extended [routerLink]="['/create_game']">
      Agregar Juego
      <mat-icon>add_box</mat-icon>  
    </a>
  </div>
  <div class="row" *ngFor="let row of gamesInRows">
    <div class="card" *ngFor="let game of row">
      <div class="card-img-container" (click)="navigateToGameDetails(game.id)">
        <img [src]="'assets/cover_img/' + game.cover_img" class="card-img-top" alt="Game Image">
      </div>
      <div class="card-body">
        <a [routerLink]="['/juego', game.id]" class="btn">{{ game.name }}</a>
        <button mat-icon-button class="delete-button" (click)="deleteGame(game.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="edit-button" (click)="navigateToGameDetails(game.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
